.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: block;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.logo {
  width:183px;
  height:32px;
  background: no-repeat;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  margin: 0;
  width: 730px;
  display: flex;
  margin-left: 64px;
  align-self: center;
  z-index: 2;
  font-size: 102px;
  line-height: 96px;
}

.header__subtitle {
  margin: 0;
  display: block;
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.header__link {
  font-size: 18px;
  line-height: 25px;
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-size: cover;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}

.content {
  display: block;
}

.description {
  margin: 100px 0 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
  font-weight: normal;
}

.two-columns__main-text {
  margin: 0;
  min-width: 784px;
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}
.two-columns__paragraph {
  margin: 30px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  margin: 100px auto 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin: 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  list-style-type: none;
  list-style: none;
  padding: 0;
  width: 1100px;
  margin: 0 auto 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  margin: 0;
  padding-top: 100px;
  min-height: 890px;
  display: block;
  position: relative;
  background: #f2f2f2 url(../images/feynman.png) no-repeat bottom left;
  background-size: 867px 637px;
}

.feynman__title {
  margin: 0 auto 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  padding: 90px 0 90px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #f2f2f2;
  margin: 0 auto 20px;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #f2f2f2;
  position: relative;
  z-index: 1;
}

.table_theme_dark {
  color: #f2f2f2;
  position: relative;
  z-index: 1;
  margin: 0 auto 90px;
}

.table__cell_theme_dark {
  color: #f2f2f2;
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: #f2f2f2;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  color: #f2f2f2;
}

.kaufman__triangle {
  height: 877px;
  width: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  box-sizing: border-box;
  display: flex;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin: 18px 0;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.footer__column_content_info {
  color: #f2f2f2;
}

.footer__column-heading {
  margin: 0  0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 16px;
}

.footer__column_content_social {
  color: #f2f2f2;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: #f2f2f2;
}
